@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Alfa+Slab+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #0C042B;
    height: 100vh;
}

.container {

    display: flex;
    margin-top: 10px;
    justify-content: center;
}

p {
    font-family: "Aldrich", serif;
    font-weight: 400;
    color: white;
}

.nav {
    width: 70%;
    background-color: rgba(172, 172, 172, 0.3);
    /* Only background is transparent */
    height: 70px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
}

.logo {
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
    font-weight: 400;
}

.nav-links {
    display: flex;
    gap: 20px;
    font-weight: 400;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-button button {
    background-color: #FFCC00;
    color: #0C042B;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-button button:hover {
    background-color: #FFD633;
}

.banner {
    height: 100vh;
    margin-top: 90px;
    font-weight: 400;

    font-family: "Aldrich", serif;
    color: white;
}

.banner-head {
    text-align: center;
    font-size: 50px;

}

.banner-text {
    text-align: center;
    line-height: 20px;

} 
.join-button {
    display: inline-block;
    padding: 15px 40px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: black;
    background: linear-gradient(45deg, #6E7EF7, #C0837C, #E8853E);
    border: 2px solid black;
    border-radius: 11px;
    cursor: pointer;
    box-shadow: 3px 3px 0 black;
    transform: rotate(7.5deg);
    transition: all 0.2s ease-in-out;
}

.join-button:hover {
    transform: rotate(7.5deg) scale(1.05);
    box-shadow: 4px 4px 0 black;
}